.button-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.button-reg {
  display: block;
  width: 200px;
  padding: 13px 30px;
  border: none;
  border-radius: 3px;

  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: bold;

  background-color: $button-color;

  &:hover {
    background-color: darken($button-color, 10%);
  }

  &:active {
    color: darken(#ffffff, 30%);
  }
}
